@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2102 0.0060 285.8742);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2102 0.0060 285.8742);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2102 0.0060 285.8742);
  --primary: oklch(0.5556 0.2456 261.3560);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9676 0.0027 256.6632);
  --secondary-foreground: oklch(0.5022 0.0193 256.7681);
  --muted: oklch(0.9676 0.0027 256.6632);
  --muted-foreground: oklch(0.5022 0.0193 256.7681);
  --accent: oklch(0.9676 0.0027 256.6632);
  --accent-foreground: oklch(0.2102 0.0060 285.8742);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9287 0.0054 256.6754);
  --input: oklch(0.9287 0.0054 256.6754);
  --ring: oklch(0.5556 0.2456 261.3560);
  --chart-1: oklch(0.5556 0.2456 261.3560);
  --chart-2: oklch(0.7041 0.1631 247.7856);
  --chart-3: oklch(0.7884 0.1306 231.9718);
  --chart-4: oklch(0.6261 0.1620 313.3711);
  --chart-5: oklch(0.7702 0.1213 194.9292);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.2102 0.0060 285.8742);
  --sidebar-primary: oklch(0.5556 0.2456 261.3560);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9676 0.0027 256.6632);
  --sidebar-accent-foreground: oklch(0.2102 0.0060 285.8742);
  --sidebar-border: oklch(0.9287 0.0054 256.6754);
  --sidebar-ring: oklch(0.5556 0.2456 261.3560);
  --font-sans: Inter, sans-serif;
  --font-serif: serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0;
  --shadow-opacity: 0.1;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0 4px 10px 0 hsl(0 0 0 / 0.05);
  --shadow-xs: 0 4px 10px 0 hsl(0 0 0 / 0.05);
  --shadow-sm: 0 4px 10px 0 hsl(0 0 0 / 0.10), 0 1px 2px -1px hsl(0 0 0 / 0.10);
  --shadow: 0 4px 10px 0 hsl(0 0 0 / 0.10), 0 1px 2px -1px hsl(0 0 0 / 0.10);
  --shadow-md: 0 4px 10px 0 hsl(0 0 0 / 0.10), 0 2px 4px -1px hsl(0 0 0 / 0.10);
  --shadow-lg: 0 4px 10px 0 hsl(0 0 0 / 0.10), 0 4px 6px -1px hsl(0 0 0 / 0.10);
  --shadow-xl: 0 4px 10px 0 hsl(0 0 0 / 0.10), 0 8px 10px -1px hsl(0 0 0 / 0.10);
  --shadow-2xl: 0 4px 10px 0 hsl(0 0 0 / 0.25);
  --tracking-normal: 0rem;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2102 0.0060 285.8742);
  --foreground: oklch(0.9843 0.0017 247.8393);
  --card: oklch(0.2102 0.0060 285.8742);
  --card-foreground: oklch(0.9843 0.0017 247.8393);
  --popover: oklch(0.2102 0.0060 285.8742);
  --popover-foreground: oklch(0.9843 0.0017 247.8393);
  --primary: oklch(0.6662 0.1777 259.5094);
  --primary-foreground: oklch(0.9843 0.0017 247.8393);
  --secondary: oklch(0.2741 0.0055 286.0329);
  --secondary-foreground: oklch(0.9843 0.0017 247.8393);
  --muted: oklch(0.2741 0.0055 286.0329);
  --muted-foreground: oklch(0.7107 0.0351 256.7877);
  --accent: oklch(0.2741 0.0055 286.0329);
  --accent-foreground: oklch(0.9843 0.0017 247.8393);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --destructive-foreground: oklch(0.9843 0.0017 247.8393);
  --border: oklch(0.2741 0.0055 286.0329);
  --input: oklch(0.2741 0.0055 286.0329);
  --ring: oklch(0.6662 0.1777 259.5094);
  --chart-1: oklch(0.6662 0.1777 259.5094);
  --chart-2: oklch(0.7717 0.1248 245.1070);
  --chart-3: oklch(0.8437 0.0978 229.3623);
  --chart-4: oklch(0.6261 0.1620 313.3711);
  --chart-5: oklch(0.7702 0.1213 194.9292);
  --sidebar: oklch(0.2102 0.0060 285.8742);
  --sidebar-foreground: oklch(0.9843 0.0017 247.8393);
  --sidebar-primary: oklch(0.6662 0.1777 259.5094);
  --sidebar-primary-foreground: oklch(0.9843 0.0017 247.8393);
  --sidebar-accent: oklch(0.2741 0.0055 286.0329);
  --sidebar-accent-foreground: oklch(0.9843 0.0017 247.8393);
  --sidebar-border: oklch(0.2741 0.0055 286.0329);
  --sidebar-ring: oklch(0.6662 0.1777 259.5094);
  --font-sans: Inter, sans-serif;
  --font-serif: serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 6px;
  --shadow-blur: 12px;
  --shadow-spread: 0;
  --shadow-opacity: 0.2;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0 6px 12px 0 hsl(0 0 0 / 0.10);
  --shadow-xs: 0 6px 12px 0 hsl(0 0 0 / 0.10);
  --shadow-sm: 0 6px 12px 0 hsl(0 0 0 / 0.20), 0 1px 2px -1px hsl(0 0 0 / 0.20);
  --shadow: 0 6px 12px 0 hsl(0 0 0 / 0.20), 0 1px 2px -1px hsl(0 0 0 / 0.20);
  --shadow-md: 0 6px 12px 0 hsl(0 0 0 / 0.20), 0 2px 4px -1px hsl(0 0 0 / 0.20);
  --shadow-lg: 0 6px 12px 0 hsl(0 0 0 / 0.20), 0 4px 6px -1px hsl(0 0 0 / 0.20);
  --shadow-xl: 0 6px 12px 0 hsl(0 0 0 / 0.20), 0 8px 10px -1px hsl(0 0 0 / 0.20);
  --shadow-2xl: 0 6px 12px 0 hsl(0 0 0 / 0.50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}